@import './base.css';

body {
  background: url('https://image.gogochuckle.com/gitee/spaceX.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  transition: 0.6s;
}

.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline dashed;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
    padding: 0 2rem;
  }
}
